{% extends 'index1.html' %}
{% load static %}
{% block main %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        font-family: Arial, sans-serif;
        color: #333;
    }

    table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    table th,
    table td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    table tbody tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
</style>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>User</th>
                            <th>Address</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Razorpay Order ID</th>
                            <th>Payment ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.user_id }}</td>
                            <td>{{ order.address }}</td>
                            <td>{{ order.total_amount }}</td>
                            <td>{{ order.get_status_display }}</td>
                            <td>{{ order.created_at }}</td>
                            <td>{{ order.updated_at }}</td>
                            <td>{{ order.razorpay_order_id }}</td>
                            <td>{{ order.payment_id }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9">No orders available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main %}